Recent tweets in <%= @user_name %>'s (<%= @twitter_username %>) timeline:
<br><br>
<img src="<%= @twitter_avatar_url %>" width="50">
<br><br>

<ol>
<% @url_obj_array.each do |url_obj| %>
  <li>
    <a href="<%= url_obj.address %>"><%= url_obj.address %></a> (<%= url_obj.appearances %> times) 
    Tweets:
    <% url_obj.tweet_objs.each do |tweet_obj| %>
      <%= tweet_obj.text %>,
    <% end %>
  </li>
<% end %>


</ol>

