Recent tweets in <%= @user_name %>'s (<%= @twitter_username %>) timeline:
<br><br>
<img src="<%= @twitter_avatar_url %>" width="50">
<br><br>

<ol>
<% @url_count_hash.each do |url, num| %>
  <li><a href="<%= url %>"><%= url %></a> (<%= num %> times) <%= Tweet.get_tweets_from_one_url(url) %> </li>
<% end %>
</ol>

<!-- <br>
======================================
<br>
<ol>  
  <%# @url_array.each do |tweet_urls| %>
    <li><%#= tweet_urls %></li>
  <%# end %>
</ol> -->

<%= form_tag("/", method: "get") do %>
  <%= label_tag(:twitter_username, "Search for:") %>
  <%= text_field_tag(:twitter_username) %>
  <%= submit_tag("Search") %>
<% end %>
