Recent tweets in <%= @twitter_username %>'s timeline:
<br><br>
<ul>  
  <% @text_array.each do |tweet_text| %>
    <li><%= tweet_text %></li>
  <% end %>
</ul>

<%= form_tag("/#{[:twitter_username]}", method: "get") do %>
  <%= label_tag(:twitter_username, "Search for:") %>
  <%= text_field_tag(:twitter_username) %>
  <%= submit_tag("Search") %>
<% end %>
