<%= render 'layouts/navbar' %>

Recent tweets in <%= @user_name %>'s (<%= @twitter_username %>) timeline:
<br><br>
<img src="<%= @twitter_avatar_url %>" width="50">
<br><br>

<!-- <ol> -->
<% @url_obj_array.each do |url_obj| %>
  <!-- <li> -->
  <div style="margin-left: 40px">
    <!-- <a href="<%#= url_obj.address %>"><%#= url_obj.address %></a> --> 
    <%= url_obj.appearances %> times 
   <!--  <a id="show_tweets">Show Tweets:</a>
    <a id="hide_tweets">Hide Tweets:</a> -->
    <div class="tweets">
    <% url_obj.tweet_objs.each_with_index do |tweet_obj, i| %>
      <div id="tweet_num_<%= i %>" class="individual_tweet">
       <%= pretty_tweet(tweet_obj) %>
      </div>

    <% end %>
    <span class="glyphicon glyphicon-chevron-right expander"></span>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- </li> -->
<% end %>


<!-- </ol> -->

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>