<%= render 'layouts/navbar' %>

<div class="container">

  <h2>
    <img src="<%= @twitter_avatar_url %>" width="60" style="margin-right:12px;">
    Recent squawks in <%= @user_name %>'s (<a href="http://twitter.com/<%= @twitter_username %>">@<%= @twitter_username %></a>) timeline:
  </h2>

  <table id="tweet_table" width="<%= @max_appearances * 400 %>px">
  <% @url_objs.each do |url_obj| %>     
      <tr class="tweet_row">
        <td class="number_of_times" height="60px" width="60px">
          <span><%= url_obj.appearances %>x</span>
        </td>

        <% url_obj.tweet_objs.each_with_index do |tweet_obj, i| %>
          <td width="400px" height="400px" class="individual_tweet tweet_num_<%= i %>">
          <div>         
            <%= pretty_tweet(tweet_obj) %>
          </div>
          </td>
        <% end %>
        <td class="arrow expander">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </td>
      </tr>
        
  <% end %>
  </table>

  <% if @url_objs == [] %>
  <h2>Sorry, I didn't find any Squawks</h2>
  <% end %>


</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>